<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PyChan</title>
    <meta name="description" content="">
    <meta name="author" content="Johan Nestaas">
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <style type="text/css">
        body {
            padding-top: 60px;
        }
        .greentext {color:green;}
    </style>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>

<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">pychan</a>
            <ul class="nav">
                <li><a href="{% url 'home' %}" class="">Home</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    {% bootstrap_messages %}

    {% block content %}{% endblock %}

    <p><hr></p>

    <footer class="row">
        <div class="span6" style="text-align:right">
            <p>
                &copy; <a href="https://bitbucket.org/johannestaas/">Johan Nestaas</a>
            </p>
        </div>
    </footer>

</div> <!-- container -->

</body>
</html>
