{% extends "base.html" %}
{% block content %}

    <div class="well">
        <h3>PyChan</h3>
        <p>Let's post images!</p>
    </div>

    {% include "create.html" %}
    
    {% for thread, posts in threads %}
    <div class="well">
            {% include "thread_post.html" with thread=thread posts=posts %}
    </div>
    {% endfor %}
    <ul class="nav nav-pills">
            <li class="{% if disabled.first %}disabled{% endif %}"><a href="/">First Page</a></li>
            <li class="{% if disabled.prev %}disabled{% endif %}"><a href="/page/{{ pages.prev }}">Previous Page</a></li>
            <li class="{% if disabled.next %}disabled{% endif %}"><a href="/page/{{ pages.next }}">Next Page</a></li>
            <li class="{% if disabled.last %}disabled{% endif %}"><a href="/page/{{ pages.last }}">Last Page</a></li>
    </ul>

{% endblock %}
