{% load bootstrap_toolkit %}

<script type="text/javascript">
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});

function validate_and_post() {
        var img_url = document.forms["reply"]["img_url"].value;
        var msg = document.getElementById("msg").value;
        re_img_url = /^(https?:\/\/.*\.(?:png|jpg|gif|jpeg))$/i;
        if (img_url != "" && ! re_img_url.test(img_url)) {
                document.forms["reply"]["img_url"].focus();
                return false;
        }
        if (img_url == "" && msg == "") {
                document.getElementById("msg").focus();
                return false;
        }

        $.post("/post/{{ reply_id }}", {
                        "img_url": img_url,
                        "msg": msg,
                }
        ).done(function(data) {
                        location.reload();
                }
        );
        return true;
}
</script>

<form id="reply">
        <div type="row">
                <span class="label label-default">Image URL</span>
                <input type="text" class="span6" rows="1" cols="80" id="img_url">
        </div>
        <div type="row">
                <span class="label label-default">Message</span>
                <textarea class="span6" rows="5" cols="80" id="msg"></textarea>
        </div>
        <div type="row">
                <input type="button" class="btn btn-info fixed-bottom" value="Reply" onclick="validate_and_post();">
                <input type="hidden" name="csrfmiddlewaretoken" value="$csrf_token"/>
        </div>
</form>
