    <div class="media">
        {% if thread.op.img %}
        <div class="pull-left">
            <a href="{{ thread.op.url }}" class="media-object thumbnail">
                <img src="{{ thread.op.url }}" width="128" height="128">
            </a>
        </div>
        {% endif %}
        <div class="media-body">
                {% if thread %}<a href="{% url 'thread' thread.pk %}" class="btn btn-primary pull-right">open</a>{% endif %}
                <p class="media-heading">(ID: {{ thread.op.submitter|slice:":12" }}) {{ thread.op.date|date:"SHORT_DATE_FORMAT" }} No.{{ thread.op.pk }}</p>
                {% for klass,line in thread.op.msg %}
                <p class="{{klass}}">{{line}}</p>
                {% endfor %}
        <hr>
            {% for post in posts reversed %}
                <div class="well well-small">
    <div class="media">
        {% if post.img %}
        <div class="pull-left">
            <a href="{{ post.url }}" class="media-object thumbnail">
                <img src="{{ post.url }}" width="128" height="128">
            </a>
        </div>
        {% endif %}
        <div class="media-body">
                <p class="media-heading">(ID: {{ post.submitter|slice:":12" }}) {{ post.date|date:"SHORT_DATE_FORMAT" }} No.{{ post.pk }}</p>
                {% for klass,line in post.msg %}
                <p class="{{klass}}">{{line}}</p>
                {% endfor %}
        </div>
    </div>
                </div>
            {% endfor %}

        </div>
    </div>
